[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
install = "*"
pypdf2 = "*"
openai = "*"
black = "*"
python-dotenv = "*"
chromadb = "*"
tiktoken = "*"
pysqlite3-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
